{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <noscript>
        <strong>We're sorry but the application doesn't work without javascript enable. Please anable it to
            continue.</strong>
    </noscript>
    {% block content %}{% endblock content%}
</body>
<script src="{% static "frontend/main.js" %}"></script>

</html>